body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f8f8f8;
}
.container:hover{
  background-color: #5cb85c;
  transition: 0.5s ease-in-out;
}
#wrap{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-top: 10px;
border-radius: 90px;
box-sizing: border-box;
}


.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  display: block;
  margin-bottom: 45px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

input[type="text"] {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  padding-left: 70px;

}
#grocery-list{
  font-size: 25px;
  font-style: italic;
}

button {
  padding: 15px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  outline: none;
}

button:hover {
  background-color: #d7e4d7;
  
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  background-color: #0f0e0e;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#grocery-list{
  display: none;
}

li.purchased {
  text-decoration: line-through;
  color: #aaa;
}

li button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}

li button:hover {
  background-color: #c9302c;
}
